*.gem
*.rbc
.bundle
.config
coverage
InstalledFiles
lib/bundler/man
pkg
rdoc
spec/reports
test/tmp
test/version_tmp
tmp

# YARD artifacts
.yardoc
_yardoc
doc/*.html
doc/Batsd/*.html
doc/Batsd/Handler/*.html
doc/Batsd/Receiver/*.html
doc/Batsd/Server/*.html
doc/js/*.js
doc/css/*.css
