*.gem
*.rbc
.bundle
.config
coverage
InstalledFiles
lib/bundler/man
pkg
rdoc
spec/reports
test/tmp
test/version_tmp
tmp

# YARD artifacts
.yardoc
_yardoc
doc/*.html
doc/Batsd/*.html
doc/Batsd/Handler/*
doc/Batsd/Receiver/*
doc/Batsd/Server/*
doc/Examples/*
doc/js/*.js
doc/css/*.css
